<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.DB.Join3Mapper">
	<select id="AucResSuc" resultType="Join3VO">
		select p.prod_img,
			   p.prod_num,
			   p.prod_name,
			   p.mem_num as seller,
			   max(b.bid_price) as bid_price,
			   b.mem_num as bidder,
			   p.bidder_id as suc_bidder
		from prod p, bid b
		where p.prod_num = b.prod_num
			  and p.prod_time <![CDATA[<]]> sysdate
			  and p.prod_price != p.prod_cur
			  and p.bidder_id is null
		group by p.prod_img,
				 p.prod_num,
				 p.prod_name,
				 p.mem_num,
				 b.mem_num,
				 p.bidder_id
		order by bid_price desc
	</select>

	<select id="AucResFail" resultType="Join3VO">
		select p.prod_img,
			   p.prod_num,
			   p.prod_name,
			   p.mem_num as seller,
			   max(b.bid_price) as bid_price,
			   b.mem_num as bidder,
			   p.bidder_id as suc_bidder
		from prod p, bid b
		where p.prod_num = b.prod_num
			  and p.prod_time<![CDATA[<]]>sysdate
			  and p.prod_price = p.prod_cur
		group by p.prod_img,
				 p.prod_num,
				 p.prod_name,
				 p.mem_num,
				 b.mem_num,
				 p.bidder_id
		order by bid_price desc
	</select>
</mapper>