<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="com/smhrd/DB/db.properties"></properties>
	<!-- 파일경로들 별칭 지정하기 typeAliases -->
	<typeAliases>
		<typeAlias type="com.smhrd.model.TestVO" alias="TestVO" />
		<typeAlias type="com.smhrd.model.MemVO" alias="MemVO" />
		<typeAlias type="com.smhrd.model.ProdVO" alias="ProdVO" />
		<typeAlias type="com.smhrd.model.BidVO" alias="BidVO" />
		<typeAlias type="com.smhrd.model.PostVO" alias="PostVO" />
		<typeAlias type="com.smhrd.model.JoinVO" alias="JoinVO" />
		<typeAlias type="com.smhrd.model.Join2VO" alias="Join2VO" />
		<typeAlias type="com.smhrd.model.Join3VO" alias="Join3VO" />
		<typeAlias type="com.smhrd.model.TrdVO" alias="TrdVO" />
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/smhrd/DB/TestMapper.xml" />
		<mapper resource="com/smhrd/DB/MemMapper.xml" />
		<mapper resource="com/smhrd/DB/ProdMapper.xml" />
		<mapper resource="com/smhrd/DB/BidMapper.xml" />
		<mapper resource="com/smhrd/DB/PostMapper.xml" />
		<mapper resource="com/smhrd/DB/JoinMapper.xml" />
		<mapper resource="com/smhrd/DB/Join2Mapper.xml" />
		<mapper resource="com/smhrd/DB/Join3Mapper.xml" />
		<mapper resource="com/smhrd/DB/TrdMapper.xml" />
	</mappers>
</configuration>