<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>Test</servlet-name>
		<display-name>Test</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.Test</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TestService</servlet-name>
		<display-name>TestService</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.TestService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginService</servlet-name>
		<display-name>LoginService</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.LoginService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JoinService</servlet-name>
		<display-name>JoinService</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.JoinService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutService</servlet-name>
		<display-name>LogoutService</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.LogoutService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PostMain</servlet-name>
		<display-name>PostMain</display-name>
		<description></description>
		<servlet-class>PostMain</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PostInsertService</servlet-name>
		<display-name>PostInsertService</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.PostInsertService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PostDeleteService</servlet-name>
		<display-name>PostDeleteService</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.PostDeleteService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PostSelectOneService</servlet-name>
		<display-name>PostSelectOneService</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.PostSelectOneService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProdRegi_MemberService</servlet-name>
		<display-name>ProdRegi_MemberService</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.ProdRegi_MemberService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProdRegi_AdminService</servlet-name>
		<display-name>ProdRegi_AdminService</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.ProdRegi_AdminService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProdRegi_Admin_InputService</servlet-name>
		<display-name>ProdRegi_Admin_InputService</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.ProdRegi_Admin_InputService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MemUpdateService</servlet-name>
		<display-name>MemUpdateService</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.MemUpdateService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BuyListService</servlet-name>
		<display-name>BuyListService</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.BuyListService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SellListService</servlet-name>
		<display-name>SellListService</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.SellListService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PointCheckService</servlet-name>
		<display-name>PointCheckService</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.PointCheckService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>calRemainService</servlet-name>
		<display-name>calRemainService</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.calRemainService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>bidCheckService</servlet-name>
		<display-name>bidCheckService</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.bidCheckService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>bidCommitService</servlet-name>
		<display-name>bidCommitService</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.bidCommitService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MemberListService</servlet-name>
		<display-name>MemberListService</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.MemberListService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MemberDeleteService</servlet-name>
		<display-name>MemberDeleteService</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.MemberDeleteService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>IdCheck</servlet-name>
		<display-name>IdCheck</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.IdCheck</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Test</servlet-name>
		<url-pattern>/Test</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TestService</servlet-name>
		<url-pattern>/TestService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginService</servlet-name>
		<url-pattern>/LoginService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JoinService</servlet-name>
		<url-pattern>/JoinService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutService</servlet-name>
		<url-pattern>/LogoutService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PostMain</servlet-name>
		<url-pattern>/PostMain</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PostInsertService</servlet-name>
		<url-pattern>/PostInsertService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PostDeleteService</servlet-name>
		<url-pattern>/PostDeleteService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PostSelectOneService</servlet-name>
		<url-pattern>/PostSelectOneService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProdRegi_MemberService</servlet-name>
		<url-pattern>/ProdRegi_MemberService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProdRegi_AdminService</servlet-name>
		<url-pattern>/ProdRegi_AdminService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProdRegi_Admin_InputService</servlet-name>
		<url-pattern>/ProdRegi_Admin_InputService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MemUpdateService</servlet-name>
		<url-pattern>/MemUpdateService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BuyListService</servlet-name>
		<url-pattern>/BuyListService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SellListService</servlet-name>
		<url-pattern>/SellListService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PointCheckService</servlet-name>
		<url-pattern>/PointCheckService</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>calRemainService</servlet-name>
		<url-pattern>/calRemainService</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
			<servlet-name>bidCheckService</servlet-name>
			<url-pattern>/bidCheckService</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>bidCommitService</servlet-name>
			<url-pattern>/bidCommitService</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>MemberListService</servlet-name>
			<url-pattern>/MemberListService</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>MemberDeleteService</servlet-name>
			<url-pattern>/MemberDeleteService</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>IdCheck</servlet-name>
			<url-pattern>/IdCheck</url-pattern>
		</servlet-mapping>
</web-app>
